<html>
<head>
<title>Genesys Web Services Sample</title>
<script src="bundle.js"></script>
</head>
<body>
	<h1>Angular sample</h1>
	<div ng-app="agent" ng-controller="AgentController as agent">
		<p>Username <input ng-model="username" ng-init="username='ksippo'"/>
		<p>Password <input ng-model="password" ng-init="password=''"/>
		<p><button type="button" ng-click="agent.startSession(username, password)">Start Session</button>
		<p><button type="button" ng-click="agent.ready()">Ready</button>
		<button type="button" ng-click="agent.notReady()">Not Ready</button>
		<button type="button" ng-click="agent.endSession()">End Session</button>
		<p>Agent name: {{agent.user.firstName}} {{agent.user.lastName}}
		<p>Device 0 state: {{agent.user.devices[0].phoneNumber}} {{agent.user.devices[0].userState.displayName}}
		<div ng-repeat="call in agent.user.calls" ng-controller="CallController as callController">
			Call: {{call.id}} {{call.state}}
			<button type="button" ng-click="callController.answer()" ng-disabled="callController.enabledOp('Answer')">Answer</button>
			<button type="button" ng-click="callController.hangUp()" ng-disabled="callController.enabledOp('Hangup')">Hang Up</button>
		</div>
	</div>
</body>
</html>